body {
    margin: 0;
    background-color: rgb(143, 49, 49);
}

nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: rgb(238, 187, 21);
    margin: 0;
    padding: 10px;
}

button {
    font-size: 20px;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}