html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: rgb(227, 224, 224);
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(57, 45, 31);
    padding: 30px;
}

#title {
    font-size: 3rem;
    color: rgb(227, 224, 224);
}

nav {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

button {
    font-size: 1.25rem;
    margin-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(57, 45, 31);
    border: 2px solid rgb(227, 224, 224);
    color: rgb(227, 224, 224);

}

button:hover {
    background-color: tan;
    border: 2px solid tan;
    color: rgb(57, 45, 31);
}

#content {
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(57, 45, 31);
    color: rgb(227, 224, 224);
    font-size: 1rem;
}

.restaurant-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 20px auto;
  }